@import "tailwindcss";

@theme {
  /* fonts */
  --font-hack: "Share tech mono", monospace;

  /* "retrowave" colorscheme */
  --color-rv-fg: #f8f8f8;
  --color-rv-bg: #262335;
  --color-rv-bgdark: #241b2f;
  --color-rv-cyan: #61e2ff;
  --color-rv-green: #72f1b8;
  --color-rv-orange: #ff8b39;
  --color-rv-pink: #ff7edb;
  --color-rv-purple: #af6df9;
  --color-rv-red: #fe4450;
  --color-rv-yellow: #ffcc00;
  --color-rv-comment: #495495;
}
